{
    email marregsil97@gmail.com
    servers {
        protocols h1 h2 h2c
    }
}

http://streakmastery.com, http://www.streakmastery.com {
    redir https://{host}{uri}
}

streakmastery.com, www.streakmastery.com {

        @grafana {
            path /grafana/*
        }
        reverse_proxy @grafana streaker-grafana:3000

        @api {
            path /api/*
        }
        reverse_proxy @api streaker-backend:8080

        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
        encode gzip

        header {
            X-Content-Type-Options "nosniff"
            X-Frame-Options "DENY"
            Referrer-Policy "strict-origin-when-cross-origin"
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        }

        log {
            level info
            format json
            output stdout 
        }
}

http://localhost {

    handle /grafana/* {
        reverse_proxy streaker-grafana:3000
    }

    handle /api/* {
        reverse_proxy streaker-backend:8080
    }

    handle {
        root * /usr/share/caddy/browser
        try_files {path} /index.html
        file_server
        encode gzip
    }

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
