<configuration scan="true" scanPeriod="30 seconds">

    <!-- DEV: Pretty colored logs -->
    <appender name="CONSOLE_PRETTY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{36}) - %msg%n%ex</pattern>
        </encoder>
    </appender>

    <!-- PROD: JSON log for Splunk -->
    <appender name="FILE_JSON" class="ch.qos.logback.core.FileAppender">
        <file>/app/logs/streaker.log</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message />
                <mdc />
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE_PRETTY" />
        <appender-ref ref="FILE_JSON" />
    </root>
</configuration>
